<h1 class="main">Order Summary</h1>
<ul class="summary-items wrapper border">
    <li>
        <span class="summary-items-number">{{orderSummaryData.numberOfItems}} {{orderSummaryData.numberOfItems === 1 ? "Item" : "Items"}}</span><span
            class="summary-items-price">{{orderSummaryData.baseCost}}<span class="currency">€</span></span>
    </li>
</ul>
<div class="summary-discounts">
    <h2 style="margin-top: 10px;margin-bottom:10px">Discounts</h2>
    <ul >
        <li *ngFor="let discount of orderSummaryData.discounts">
            <span>{{discount.text}}</span><span>-{{discount.discount}}€</span>
        </li>
    </ul>
</div>
<div class="summary-total wrapper">
    <ul>
        <li>
            <span class="summary-total-cost">Total cost</span><span class="summary-total-price">{{orderSummaryData.totalCost}}€</span>
        </li>
    </ul>
    <button type="submit">Checkout</button>
</div>